<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<section>

		<div class="container">
			<div class="row">
				<div class="col-md-8 offset-md-2">
					<div class="my-card mt-5">

						<h1 class="text-center m-3">Enter your email id..</h1>

						<div class="container">
							<div th:if="${session.msg}" th:classappend="${session.type}"
								class="text-center" role="alert">
								<p th:text="${session.msg}"></p>
							</div>


							<form class="form-signin" method="post" th:action="@{/send-otp}"
								action="#">

								<input type="email" id="f-email" name="f-email"
									class="form-control m-3" placeholder="Email" required autofocus>
								<div class="container text-center m-3">
									<button class="btn btn-warning">Send OTP</button>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>