<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<section class="banner d-flex justify-content-center align-item-center bg-size-cover">
		<div class="home-body-div">
			<h1 class="home-body-heading">Smart Contact Manager</h1>
			<p>Start save you contact smartly..</p>
	
			<button class="btn bg-primary btn-lg text-white">Get Started!</button>

		</div>
	</section>
</body>
</html>