<!DOCTYPE html>
<html xmlns="http://www.thymeleaf.org" th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
		
	<section>

	<div class="container text-center my-5">

	<h1>Error</h1>
<p>Status Code <span th:text="${statusCode}">Unknown</span></p>
<p>Error Message <span th:text="${errorMessage}">Unknown</span></p>
<p>Sorry Something went Wrong!</p>

	<img th:src="@{/img/error.png}" style="z-index:0;" alt="errorPic" />	
</div>

	</section>
</body>
</html>